body {
    font-family: sans-serif;
    text-align: center;
    background-image: url(http://placekitten.com/g/1000/1001);
    background-size: cover;
    background-position: center;
    color: white;
}

.cursive-heading {
    font-family: 'Lobster', cursive;
}

#profile-pic {
    border-radius: 50%;
}